#survey {
  border: 4px dotted grey;
  box-shadow: 4px 6px 6px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#survey h3 {
  text-align: center;
  padding-bottom: 20px;
}

#survey-submit-btn {
  margin-top: 2%;
}

.programming-language {
  min-height: 200px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid black;
  box-shadow: 4px 6px 6px;
}